<div class="w-50 m-auto">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-control">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-label w-50" %>
      <p>After you input your email we will be sending you your password instructions.</p>


      <div class="actions">
        <%= f.submit "Send Request", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
