

<div id="<%= dom_id category %>">

    <tbody class="table-group-divider">
    <tr>

      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td class="d-flex flex-row justify-content-center">
        <%= link_to "Show", category, class: "btn btn-primary  ms-1" %>
        <%= link_to "Edit", edit_category_path(category), class: "btn btn-success  ms-1" %>
        <%= button_to "Delete", category, :onclick => "return confirm('Are you sure to delete this category and its tasks?')", class: "btn btn-danger ms-1", method: :delete %>
      </td>
    </tr>
  </tbody>


</div>

  <%# <h2> %>
    <%# <strong>Category:</strong> %>
    <%# <%= category.name %>
  <%# </h2> %>
<%#
  <p> %>
    <%# <strong>Description:</strong> %>
    <%# <%= category.description %>
  <%# </p> %>

  <%# <% category.tasks.each do |task| %>
    <%# <p> %>
    <%# <%= task.title %>
    <%# <%= link_to "View Task", task %>
  <%# </p>
  <%# <% end %>

